.advantage {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 17px 40px;
	margin-bottom: 30px;
	align-items: center;
}

.bar {
	width: 1px;
	background: var(--grey-light);
	height: 100%;
	margin: 0 auto;
}

.title {
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
}