html,
body {
	margin: 0;
	padding: 0;
	background: var(--bg-main-color);
	color: var(--black);
	font-family: var(--font-family);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		background: black;
		color: white;
	}
} */

:root {
	--bg-main-color: #F5F6F8;
	--black: #3B434E;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6447D8;
	--red: #FC836D;
	--red-light: #fea291;
	--green: #007b48;
	--green-light: #C8F8E4;
	--grey-light: #EBEBEB;
	--grey-dark: #6c7077;
	--grey: #A4A4A4;
	--font-family: "Noto Sans", sans-serif;
}
